[job_builder]
ignore_cache=True
keep_descriptions=False
include_path=.:scripts:~/git/
recursive=True

[jenkins]
#user=jenkins
#password=1234567890abcdef1234567890abcdef
url=http://localhost:8080
query_plugins_info=False

