# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2025 The Linux Foundation

[job_builder]
ignore_cache=True
keep_descriptions=False
include_path=.
recursive=True
retain_anchors=True

[jenkins]
user=#odl_username#
password=#api_token#
url=https://jenkins.opendaylight.org/sandbox
query_plugins_info=False
