[access]
	inheritFrom = All-Projects
[project]
	description = Release Engineering Build infrastructure (Jenkins Job Builder, Packer, etc)
[access "refs/*"]
	read = group GitHub Replication
	owner = group saml/odl-gerrit-releng-builder-committers
[access "refs/meta/config"]
	push = group Project Owners
[allowSuperproject "docs"]
	matching = refs/heads/master:refs/heads/master
	matching = refs/heads/master:refs/heads/stable/boron
	matching = refs/heads/master:refs/heads/stable/carbon
	matching = refs/heads/master:refs/heads/stable/nitrogen
[submit]
[submit-requirement "Code-Review"]
	description = A maximum vote is required for the 'Code-Review' label \
			from a non-uploader. A minumum vote is blocking.
	submittableIf = label:Code-Review=MAX,user=non_uploader AND -label:Code-Review=MIN
	canOverrideInChildProjects = true
[submit-requirement "Verified"]
	description = A maximum 'Verified' vote from 'ODL Required.GHA' and \
			one other CI or committer that is a non-uploader is \
			required for the 'Verified' label. A minimum vote is \
			blocking.
	submittableIf = label:Verified=MAX,user=odl.required.gha AND label:Verified=MAX,count>=2 AND label:Verified=MAX,user=non_uploader AND -label:Verified=MIN
	canOverrideInChildProjects = false
