[access]
	inheritFrom = releng
[project]
	description = Release Engineering Build infrastructure (Jenkins Job Builder, Vagrant, etc)
[access "refs/*"]
	forgeAuthor = group ldap/gerrit-releng-builder-committers
	read = group GitHub Replication
	viewDrafts = group Anonymous Users
	viewDrafts = group Registered Users
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group ldap/gerrit-releng-builder-committers
	label-Verified = -1..+1 group ldap/gerrit-releng-builder-committers
	submit = group ldap/gerrit-releng-builder-committers
[access "refs/tags/*"]
	create = group ldap/gerrit-releng-builder-committers
	push = group ldap/gerrit-releng-builder-committers
	pushTag = group ldap/gerrit-releng-builder-committers
