{
  "public_auth_url": "https://identity.api.rackspacecloud.com/v2.0/",

  "public_tenant": "TENNANTID",
  "public_user": "USERID",
  "public_pass": "USERPASS",
  "public_network" : "LOCAL_NET_ID",

  "private_auth_url": "https://privapi.opendaylight.org:5000/v2.0",

  "private_tenant": "TENNANTID",
  "private_user": "USERID",
  "private_pass": "USERPASS",
  "private_network" : "LOCAL_NET_ID"
}
